@model List<News>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/home-index.css">
</head>

<body>
    <div class="content-container">
        <section id="featured-news-section" class="slider-container">
            <div class="slider-wrapper">
                <div class="slider">
                    @foreach (var news in Model.Where(n => n.IsFeatured))
                    {
                        <div class="slide">
                            <div class="image-container">
                                <img src="@news.ImageURL" alt="@news.Title">
                                <div class="overlay"></div>
                                <div class="news-info">
                                    <span class="category">@news.Category!.CategoryName</span>
                                    <h3 class="title">
                                    <a asp-controller="NewsDetails" asp-action="Index" asp-route-newsID="@news.NewsID">
                                        @news.Title
                                    </a>
                                    </h3>
                                    <span class="date">@news.PublishDate.ToString("dd/MM/yyyy HH:MM")</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <button class="prev">&lt;</button>
            <button class="next">&gt;</button>
        </section>


        <section id="news-feed-section" class="news-feed">
            <div class="row">
                <h4>
                    Haber Akışı <i class="fas fa-newspaper"></i>
                </h4>
            </div>
            @foreach (var news in Model)
            {
                @await Html.PartialAsync("_NewsCard", news)
                
            }
        </section>
    </div>

    <script src="~/js/slider.js"></script>

</body>

</html>